/* Global Styles */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

/* Login Page Styles */
.login-container {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.login-container h2 {
    margin-bottom: 1rem;
}
.login-container form {
    display: flex;
    flex-direction: column;
}
.login-container input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* User Info Page Styles */
.user-info-container {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
}
.user-info-container h2 {
    margin-bottom: 1rem;
}
.user-info-container form {
    display: flex;
    flex-direction: column;
}
.user-info-container input,
.user-info-container select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.user-info-container button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Quiz Page Styles */
body.quiz-page {
    background: rgb(77, 14, 203);
    background: radial-gradient(circle, rgba(77, 14, 203, 1) 0%, rgba(255, 255, 255, 1) 100%);
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}
.quiz-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    max-width: 600px;
    width: 100%;
}
.quiz-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.quiz-header h2 {
    font-size: 1.5rem;
}
.quiz-body {
    padding: 2rem 2rem;
}
.quiz-body h2 {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
}
.quiz-body ul {
    list-style: none;
    padding: 0;
}
.quiz-body ul li {
    margin: 1rem 0;
    font-size: 1rem;
    border: 1px solid #aab7b8;
    padding: 0.7rem;
    border-radius: 5px;
    cursor: pointer;
}
.quiz-body ul li label {
    cursor: pointer;
    padding: 0 0.4rem;
}
.quiz-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.quiz-footer button {
    padding: 0.6rem 1.5rem;
    outline: none;
    background: #111;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    border-radius: 5px;
    color: #fff;
    opacity: 0.9;
    transition: 0.3s ease-in-out;
}
.quiz-footer button:hover {
    opacity: 1;
}
