<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="static/style.css"> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="dashboard-container">
        <div class="header">
            <h1>
                <span style="color: rgb(18, 148, 255);">LETS</span>
                <span style="color: rgb(249, 249, 50);">RISE</span>
            </h1>
            <div class="user-info">
                <img src="static/assests/user.jpg" alt="User Avatar">
                <span>John Doe</span>
                <button class="logout-btn" onclick="logout()">Logout</button>
            </div>
        </div>
        <div class="content">
            <div class="sidebar">
                <a href="/dashboard"><i class="fas fa-home"></i>Overview</a>
                <a href="/oboarding"><i class="fas fa-file-alt"></i>Onboarding</a>
                <a href="/quiz"><i class="fas fa-chart-line"></i>Increase confidence</a>
                <a href="#"><i class="fas fa-book"></i>Resources</a>
                <a href="#"><i class="fas fa-user-friends"></i>Mentors</a>
                <a href="#"><i class="fas fa-file-pdf"></i>Report PDF</a>
                <a href="#"><i class="fas fa-user"></i>User Profile</a>
                <a href="#"><i class="fas fa-credit-card"></i>Subscription</a>
                <a href="#"><i class="fas fa-certificate"></i>Certification</a>
            </div>
            <div class="main-content">
                <div class="overview-card">
                    <div class="info">
                        <h2>Individual</h2>
                        <p><i class="fas fa-user"></i> CEO</p>
                        <p><i class="fas fa-map-marker-alt"></i> SF, Bay Area</p>
                        <p><i class="fas fa-envelope"></i> byewind@twitter.com</p>
                    </div>
                    <div class="stats">
                        <p>Confidence Score: 51%</p>
                        <p>Resources Used: 3</p>
                        <p>Mentors Matched: 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function logout() {
            window.location.href = "/logout";
        }
    </script>
</body>
</html>
